@model sheduler.Models.Event

@{
    ViewBag.Title = "Details";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="modal fade in" id="modalScrollable" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalScrollableTitle">CALENDAR EVENTS</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Subject)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Subject)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Start)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Start.Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsFullDay)
                        </dt>

                        <Dd>
                            @if (Model.IsFullDay == true)
                            {
                                <button class="btn btn-outline-success"> Fullday</button>

                            }
                            else
                            {
                                <button class="btn btn-outline-warning"> Giventime</button>
                            }
                        </Dd>

                    </dl>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("Index","Events")" class="btn btn-outline-secondary">  Back</a>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(window).on('load', function () {
            $('#modalScrollable').modal('show');
        });
</script>