@using sheduler.ViewModels;
@model General_reports


@{
    ViewBag.Title = "Generalreport";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Hoverable Table rows -->
    <div class="card mb-2">
        <div class="table-responsive text-wrap">
            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr>
                        <th>
                            STUDENT
                        </th>
                        <th>
                            TRAVEL DESCRIPTION
                        </th>
                        <th>
                            SET OFF TIME
                        </th>
                        <th>
                            FULL DAY
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.events)
                    {
                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.userid)
                            </td>

                            <td style="width:50%; word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Start.Date)
                            </td>


                            <td>
                                @if (item.IsFullDay == true)
                                {
                                    <button class="btn btn-outline-success"> Fullday</button>

                                }
                                else
                                {
                                    <button class="btn btn-outline-warning"> Given time</button>
                                }
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-2">
        <div class="table-responsive text-wrap">
            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr>
                        <th>
                            STUDENT
                        </th>
                        <th>
                            INQUIRY
                        </th>
                        <th>
                            DATE POSTED
                        </th>
                        <th>
                            FULL DAY
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.Inquiry)
                    {

                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>

                            <td style="width:50%; word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.inquirry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dateposteed)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-2">
        <div class="table-responsive text-wrap">
            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr>
                        <th>
                            INQUIRY
                        </th>
                        <th>
                            RESPONSE
                        </th>
                        <th>
                            DATE REPLIED
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.Response)
                    {

                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.Inquiry)
                            </td>

                            <td style="width:50%; word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Response1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatetimeOfReply)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-2">
        <div class="table-responsive text-wrap">
            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr>
                        <th>
                            USERNAME
                        </th>
                        <th>
                            EMAIL
                        </th>
                        <th>
                            Country
                        </th>
                      
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.students)
                    {

                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>

                            <td style=" word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                         
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>


