@using sheduler.ViewModels;
@model General_reports


@{
    ViewBag.Title = "Generalreport";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}


@if (TempData["error"] != null)
{
    <script>
     swal({
        title: "ERROR",
  text: "@TempData["error"]",
  icon: "error"
        });
    </script>
}


@*<script type="text/javascript">
        $(function () {
            $('#datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    text: 'Excel',
                    className: 'exportExcel',
                    filename: 'Test_Excel',
                    exportOptions: { modifier: { page: 'all' } }
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'exportExcel',
                    filename: 'Test_Pdf',
                    exportOptions: { modifier: { page: 'all' } }
                }]
            });

        });
    </script>*@



<script type="text/javascript">

    //$(document).ready(function () {
    //    $('#datatable').DataTable({
    //        dom: 'Bfrtip',
    //        buttons: [
    //            'copy', 'csv', 'excel', 'pdf', 'print'
    //        ]
    //    });
    //});

    $(document).ready(function () {
        var table = $('#datatable').dataTable();
        var tableTools = new $.fn.dataTable.TableTools(table, {
            'aButtons': [
                {
                    'sExtends': 'xls',
                    'sButtonText': 'Save to Excel',
                    'sFileName': 'General_report.xls'
                },
                {
                    'sExtends': 'print',
                    'bShowAll': true,
                },
                {
                    'sExtends': 'pdf',
                    'bFooter': false
                },
                'copy',
                'csv'
            ],
            'sSwfPath': '//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf'
        });
        $(tableTools.fnContainer()).insertBefore('#datatable_wrapper');
    });
</script>


@if (Session["userroles"].ToString() == "ADMINISTRATOR" || Session["userroles"].ToString() == "SUPER ADMINISTRATOR")
{
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card  mb-3">
        <div class="card-header">
            WELCOME @Session["userid"]
        </div>
        <div class="card-body ">
            <h5 class="card-title">GENERATE FULL SYSTEM REPORTS</h5>
            <p class="card-text">
                <div class="mb-3 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h6 class="alert-heading fw-bold mb-1"> NOTE:</h6>
                        <p class="mb-0">
                            To generate specific student reports, kindly navigate to user management under user settings under users and click on the link for personal report
                        </p>
                    </div>
                </div>

            </p>
            <a href="@Url.Action("Extract_General_data","Events")" class="mb-5">
                <span class="btn btn-primary  "> GENREATE REPORT</span>
            </a>

        </div>
    </div>
    <!-- Hoverable Table rows -->
    <div class="card mb-4">
        <div class="table-responsive text-break" id="datatable_wrapper">
            <table class="table table-hover  " @*style="width:100%;"*@ id="datatable">
                <thead>
                    <tr> <H4 class="text-capitalize text-center mt-2"> ALL AVAILABLE  TRAVEL SHEDULES</H4></tr>
                    <tr>
                        <th>
                            STUDENT
                        </th>
                        <th>
                            TRAVEL DESCRIPTION
                        </th>
                        <th>
                            SET OFF TIME
                        </th>
                        <th>
                            FULL DAY
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.events)
                    {
                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.userid)
                            </td>

                            <td style="width:50%; word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Start.Date)
                            </td>


                            <td>
                                @if (item.IsFullDay == true)
                                {
                                    <button class="btn btn-outline-success"> Fullday</button>

                                }
                                else
                                {
                                    <button class="btn btn-outline-warning"> Given time</button>
                                }
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="table-responsive text-wrap">
            <tr> <H4 class="text-capitalize text-center mt-2"> ALL AVAILABLE  INQUIRIES</H4></tr>

            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr>
                        <th>
                            STUDENT
                        </th>
                        <th>
                            INQUIRY
                        </th>
                        <th>
                            DATE POSTED
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.Inquiry)
                    {

                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>

                            <td style="width:50%; word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.inquirry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dateposteed)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="table-responsive text-wrap">
            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr> <H4 class="text-capitalize text-center mt-2"> ALL RESPONSES TO INQUIRIES</H4></tr>

                    <tr>
                        <th>
                            INQUIRY
                        </th>
                        <th>
                            RESPONSE
                        </th>
                        <th>
                            DATE REPLIED
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.Response)
                    {

                        <tr class="">
                            <td style="width:30%;">
                                @Html.DisplayFor(modelItem => item.Inquiry.inquirry)
                            </td>

                            <td style="width:50%; word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Response1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatetimeOfReply)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-4">
        <div class="table-responsive text-wrap">
            <table class="table table-hover  " style="width:100%">
                <thead>
                    <tr> <H4 class="text-capitalize text-center mt-2"> ALL STUDENTS</H4></tr>

                    <tr>
                        <th>
                            USERNAME
                        </th>
                        <th>
                            EMAIL
                        </th>
                        <th>
                            Country
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.students)
                    {

                        <tr class="">
                            <td style="width:10%;">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>

                            <td style=" word-wrap:break-word;">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
}

else
{
    <script>
        swal({
            title: "NOT AUTHORISED",
            text: "ACCESSDE DENIED",
            icon: "error"
        });</script>

}





<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>