@model IEnumerable<sheduler.Models.Event>

@{
    ViewBag.Title = "Myshedules";
}

@if (TempData["error"] != null)
{
    <script>
     swal({
        title: "ERROR",
  text: "@TempData["error"]",
  icon: "error"
        });
    </script>
}
else
{
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Hoverable Table rows -->
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.userid)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Start)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.End)
                                </th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.IsFullDay)
                            </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.userid)
                                </td>

                                <td class="w-25 col-sm-2">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.Start.Date)
                                    </td>
                              

                                <td>
                                    @if (item.IsFullDay == true)
                                    {
                                        <button class="btn btn-outline-success"> Fullday</button>

                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-warning"> Given time</button>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.userid)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

            }

