
<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/~/Template/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>DOSA OFFICE</title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Template/assets/img/favicon/favicon.ico" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/Template/assets/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Template/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/Template/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Template/assets/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Template/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="~/Content/loader.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/Template/assets/vendor/js/helpers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYnUMc7pgoWwGQQ9cy_ojuCuzmIq31Fog"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Template/assets/js/config.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>

        .mobile-nav ul {
            text-align: center;
            justify-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #696cff;
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 5;
        }

        .mobile-nav li {
            display: inline-flex;
        }

            .mobile-nav li a {
                /*     display: block;*/
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .mobile-nav li a:hover:not(.active) {
                    background-color: #5800FF;
                    border-radius: 15px;
                }

        .mobile-nav .active {
            background-color: #04AA6D;
        }

        @@media screen and (min-width: 1200px) {
            .mobile-nav {
                display: none;
            }
        }

        @@media screen and (max-width: 1200px) {
            .footer {
                display: none;
            }
        }
    </style>
</head>

<body>
    @if (TempData["errorid"] != null)
    {
        <script>
            swal({
                title: "ACCESS DENIED!",

                icon: "error"
            });</script>
    }
    else
    {
        <nav class="mobile-nav">
            <ul>

                <li>
                    <a href="@Url.Action("Index", "Home")" class="bloc-icon"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-html="true" title=" <span>Home</span>">

                        <i class="fa-solid fa-house-chimney fa-2x"></i>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Events")" class="bloc-icon"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-html="true" title=" <span>Shedule travel</span>">

                        <i class="fa-solid fa-calendar-check fa-2x "></i>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Inquiries")" class="bloc-icon"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-html="true" title=" <span>Inquire</span>">

                        <i class="fa-solid fa-headset  fa-2x"></i>

                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Generalreport", "Events")" class="bloc-icon"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-html="true" title=" <span>reports</span>">
                        <i class="fa-solid fa-file-zipper fa-2x "></i>

                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="bloc-icon layout-menu-toggle"
                       data-bs-toggle="tooltip"
                       data-bs-offset="0,4"
                       data-bs-html="true" title=" <span>More Items</span>">

                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->

                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                        <a href="@Url.Action("Index", "Home")" class="app-brand-link">

                            <img src="~/Auth/ucu logo.jpg" alt="Alternate Text" class="app-brand-logo demo img-fluid" style="width:20%;border-radius:50%" />

                            <span class="app-brand-text demo menu-text fw-bolder ms-2 text-capitalize">UCU DOSA</span>
                        </a>

                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="menu-inner-shadow"></div>

                    <ul class="menu-inner py-1">
                        <!-- Dashboard -->
                        <li class="menu-item active">
                            <a href="@Url.Action("Index", "Events")" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div data-i18n="Analytics">Dashboard</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="fa-solid fa-users menu-icon"></i>

                                <div data-i18n="Authentications">Users </div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a href="@Url.Action("UserInfo", "Users")" class="menu-link">
                                        <div data-i18n="Basic">Manage Users</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="@Url.Action("Users", "Users")" class="menu-link">
                                        <div data-i18n="Basic">User Details</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Index", "Events")" class="menu-link">
                                <i class="fa-solid fa-calendar-check menu-icon "></i>
                                <div data-i18n="Basic">General Calender</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("index", "Inquiries")" class="menu-link  ">
                                <i class="fa-solid fa-headset menu-icon"></i>
                                <div data-i18n="Authentications">General inquries</div>
                            </a>

                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("index", "Responses")" class="menu-link  ">
                                <i class="fa-solid fa-phone-volume menu-icon"></i>
                                <div data-i18n="Authentications">General responses</div>
                            </a>

                        </li>

                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">

                                <i class="fa-solid fa-gears menu-icon "></i>
                                <div data-i18n="Authentications">System  Settings</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a href="@Url.Action("Index", "Campus_Branches")" class="menu-link">
                                        <div data-i18n="Basic">Manage Campuses</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="@Url.Action("Index", "Roles")" class="menu-link">
                                        <div data-i18n="Basic">Manage Roles</div>
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="@Url.Action("Index", "Userroles")" class="menu-link">
                                        <div data-i18n="Basic">Assign UserRoles</div>
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="@Url.Action("Index", "Cours")" class="menu-link">
                                        <div data-i18n="Basic">Manage courses</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="@Url.Action("Index", "Semesters")" class="menu-link">
                                        <div data-i18n="Basic">Manage Semesters</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="@Url.Action("Index", "years")" class="menu-link">
                                        <div data-i18n="Basic">Manage Years</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Generalreport", "Events")" class="menu-link  ">
                                <i class="fa-solid fa-file-zipper menu-icon"></i>
                                <div data-i18n="Authentications">Generate Report</div>
                            </a>

                        </li>
                        <li class="menu-item">
                            <a href="~/Template/html/pages-misc-under-maintenance.html" class="menu-link  ">
                                <i class="fa-solid fa-comment-dots menu-icon"></i>
                                <div data-i18n="Authentications">Chat Forum</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Template/html/pages-misc-under-maintenance.html" class="menu-link menu-toggle">
                                <i class="fa-solid fa-sliders menu-icon"></i>
                                <div data-i18n="Authentications">System Logs</div>
                            </a>
                        </li>
                    </ul>
                </aside>
                <!-- / Menu -->
                <!-- Layout container -->
                <div class="layout-page">
                    <!-- Navbar -->

                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                         id="layout-navbar">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>

                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- Search -->
                            <div class="navbar-nav align-items-center">
                                <div class="nav-item d-flex align-items-center">
                                    <i class="bx bx-search fs-4 lh-0"></i>
                                    <input type="text"
                                           class="form-control border-0 shadow-none"
                                           placeholder="Search..."
                                           aria-label="Search..." />
                                </div>
                            </div>
                            <!-- /Search -->

                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                <!-- User -->
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <i class="fa-solid fa-circle-user  w-px-50 h-auto rounded-circle fa-3x"></i>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <i class="fa-solid fa-circle-user  w-px-50 h-auto rounded-circle fa-3x"></i>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block">@Session["userid"]</span>
                                                        <small class="text-muted">ROLE:--</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bx bx-user me-2"></i>
                                                <span class="align-middle">My Profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bx bx-cog me-2"></i>
                                                <span class="align-middle">Settings</span>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            @using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                                    <i class="bx bx-power-off me-2"></i>
                                                    <span class="align-middle">Log Out</span>
                                                </a>
                                            }
                                        </li>
                                    </ul>
                                </li>
                                <!--/ User -->
                            </ul>
                        </div>
                    </nav>

                    <!-- / Navbar -->
                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
                            <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
                                <div class="uil-default-css">
                                    <div class="loader">Loading...</div>

                                </div>
                                <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
                            </div>
                            <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
                        </div>
                        <!-- Content -->
                        <div id="loader"> </div>
                        @RenderBody()

                        <div class="container-xxl flex-grow-1 container-p-y" id="component-footer">

                            <footer class="footer bg-light">
                                <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
                                    <div>
                                        <a href="#"
                                           class="footer-text fw-bolder">UCU DEPARTMENT OF STUDENTS AFAIRS</a>
                                        &copy;
                                    </div>
                                    <div>


                                        @using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-outline-danger"><i class="bx bx-log-out-circle"></i> Logout</a>
                                        }
                                    </div>
                                </div>
                            </footer>
                        </div>

                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <!-- Footer with components -->

        <!--/ Footer with components -->}
    <script>
        var showLoader = function (text) {
            $('#resultLoading').show();
            $('#resultLoading').find('.loader-text').html(text);
        };

        jQuery(document).ready(function () {
            jQuery(window).on("beforeunload ", function () {
                showLoader('Loading, please wait...');
            });
        });

        $("#loader").fadeOut(1000);
    </script>
    <script src="~/Template/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/Template/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/Template/assets/vendor/js/bootstrap.js"></script>
    <script src="~/Template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/Template/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/Template/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/Template/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/Template/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
