@model sheduler.Models.Userrole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Userrole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.Role1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Role1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userroleid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
