@model IEnumerable<sheduler.Models.Year>

@{
    ViewBag.Title = "Manage Years";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Hoverable Table rows -->
    <div class="card">
        <h5 class="card-header">Manage Years</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.yearName)
                        </th>
                        <th> @Html.ActionLink("Add year", "Create")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.yearName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Year_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Year_id })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>