@model sheduler.Models.Student

@{
    ViewBag.Title = "lOGIN";
    Layout = null;
}
@if (TempData["logineror"] != null)
{
    <script>
     swal({
        title: "ERROR!",
  text: "@TempData["logineror"]",
  icon: "error"
        });</script>
}

@if (TempData["error"] != null)
{
    <script>
     swal({
        title: "ERROR!",
  text: "@TempData["error"]",
  icon: "warning"
        });</script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/loader.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link href="~/Auth/register.css" rel="stylesheet">

</head>

<body>

    <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
        <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
            <div class="uil-default-css">
                <div class="loader">Loading...</div>
                <div id="loader"></div>
            </div>
            <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
        </div>
        <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
    </div>
    <div class="main" style="height:500px; margin-top:-100px;">

        <div class="container" id="container">
            <div class="form-container sign-up-container">

                @using (Html.BeginForm("SelfRegister", "Users", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h1>Create Account</h1>
                 
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <label for="name"><i class="zmdi zmdi-account material-icons-name pl-2"></i></label>

                        @Html.EditorFor(model => model.AccessNumber, new { htmlAttributes = new { @class = "", Placeholder = "Access Number" } })
                        @Html.ValidationMessageFor(model => model.AccessNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name pl-2"></i></label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "", Placeholder = "eg user@students.ucu.ac.ug" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label><i class="fa-solid fa-envelope-circle-check pl-2"></i> </label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "", Placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.DropDownList("Course_code", null, htmlAttributes: new { @class = "form-control", Placeholder = "Course" })
                        @Html.ValidationMessageFor(model => model.Course_code, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.DropDownList("sem_id", null, htmlAttributes: new { @class = "form-control", Placeholder = "Semester" })
                        @Html.ValidationMessageFor(model => model.sem_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.DropDownList("Year_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Year_Id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.DropDownList("campus_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.campus_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "", Placeholder = "Country" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="btn btn-primary w-100" value="sign Up" />
                    </div>
                }

            </div>
            <div class="form-container sign-in-container">
                
         
                    @using (Html.BeginForm("SelfRegister", "Users", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <h1>Sign in</h1>
                        <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <span>or use your account</span>
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <a href="#">Forgot your password?</a>
                        <button>Sign In</button>
                    }
               
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script>
        var showLoader = function (text) {
            $('#resultLoading').show();
            $('#resultLoading').find('.loader-text').html(text);
        };

        jQuery(document).ready(function () {
            jQuery(window).on("beforeunload ", function () {
                showLoader('Loading, please wait...');
            });
        });

        $("#loader").fadeOut(1000);

    </script>
    <script>

        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
    @section Scripts {
      
    }
</body>
</html>
