@model sheduler.Models.Inquiry

@{
    ViewBag.Title = "make inqury";
}

@{

   if (TempData["success"] != null)
            {
            <script >
     swal({
    itle: "SUCCESSFULL OPERATION",
  text: "@TempData["success"]",
         icon: "success"
        });</script >
        }
            else if (TempData["error"] != null)
            {
            <script >
     swal({
    itle: "ERROR",
  text: "@TempData["error"]",
         icon: "warning"
        });</script >
            }
            if (Session["userid"] != null)
            {
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">

                <div class="col-md-6 mb-5">
              
                    <div class="card mb-6">
                        <h5 class="card-header">MAKE INQUIRY DIRECT TO DOSA</h5>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="card-body">
                                <div class="form-floating">

                                    <div class="form-group">
                                        <textarea name="inquirry" class="form-control mb-2" id="floatingInput" placeholder="My Inquiry ..." rows="10" cols="30">  </textarea>

                                        @Html.ValidationMessageFor(model => model.inquirry, "", new { @class = "text-danger", placeholder = "Type your inquiry.." })

                                        @*@Html.LabelFor(model => model.inquirry, htmlAttributes: new { @lass = "form-label" })*@

                                        <input type="submit" value="SUBMIT" class="btn btn-primary w-50" />

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="card mb-4">
                        <h5 class="card-header">
                            <a href="@Url.Action("myInquiries","Inquiries" )" class="btn btn-primary"
                               data-bs-offset="0,4"
                               data-bs-html="true" title=" <span> View Inquiries </span>">
                                My Inquiries
                            </a>
                        </h5>
                        <div class="card-body">

                            <div class="form-floating">
                                in order to get a reply to any inqury  one must send a message that will be seen and responded to once its recieved. kindly fill the formto submit your inquiry directly to the DOSA.
                                These inquiries are not limitted,everything matters.

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    }
    else
    {
        <script>
            swal({
                title: "NOT AUTHORISED",
                text: "ACCESSDE DENIED",
                icon: "error"
            });</script>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}